html, body {
  margin: 0;
  height: 100%;
} 
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Tool{ 
 
  display: grid; 
 grid-template-columns: 70px 1fr; 
 column-gap: 0px;
} 

/*leftside lazem narj3elha */
.Tool .LeftSide{  

  
  display: grid;
  grid-template-rows: 50vh 50vh; 
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}   

.Tool .LeftSide .Logo img{ 
  width: 86%; 
  padding-left: 10%;
 
}


.Tool .LeftSide .Profil-Settings {

  position: relative; 
 
  padding-left: 30%; 
  
} 
.Tool .LeftSide .Profil-Settings .Container img{
  width: 30%; 
 object-fit: cover; 
  object-position: center; 
  position: absolute;
  bottom: 0; 
  border-radius: 100%;  
  margin-bottom: 30%;

} 

.Tool .LeftSide .Profil-Settings .Container .FaCog {
  position: absolute;
  top: 75%; 
  left: 30%;  
  color: rgb(24, 53, 172); 
 
 

} 
/*Rightside*/

.RightSide{ 
  display: grid;
  grid-template-rows: 65px 1fr; 
  
 
}  


.RightSide .Header {

  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
 
  display: grid; 
  grid-template-columns: 1.6fr 1fr; 
  
}   


.RightSide .Header .Left{ 
  width: 50%; 
  margin-top: 1%;
position: relative;
top: 1;
  margin-left: 2%;


}  



.RightSide .Header .Left p{
  display: inline-block;  
  font-weight: 500; 
  font-size: 100%; 
  margin-right: 10%;
 
}  


.RightSide .Header .Right{  
align-content: center;


 
}  
/* import label design*/

.RightSide .Header .Right .First-container{ 
width: 35%; 
display: inline; 
margin-left: 15%; 
margin-right: 2%; 


}
.RightSide .Header .Right  .First-container .Design{ 
display: inline-block; 
background: rgba(238, 239, 243, 1);
width: 20%;
padding: 0.5% 3% 0.5% 3%; 
border-radius: 5%;
 

}    
.RightSide .Header .Right  .First-container .Design:hover{
  background-color: rgb(212, 208, 208);
}

.RightSide .Header .Right  .First-container .Design p{
   display: inline-block; 
   font-size: 65%;  
   margin-right: 5%; 
   
} 
/* controbutors*/
.RightSide .Header .Right  .Second-container   {  
  width: 25%; 
  display: inline-block ; 
  margin-top: 1%;
  align-content: center;
  
  
} 
.RightSide .Header .Right  .Second-container .Controbutors   {  
  
  display: inline-block ; 

  
}  

.RightSide .Header .Right  .Second-container .Controbutors img{
  width: 18%;  
  margin-right: 5%;
  margin-left: 5%;
} 



.RightSide .Header .Right  .Publish{
  background-color: rgb(174, 174, 203);   
  display: inline-block;

}
.RightSide .Header .Right .Publish button {
  background: linear-gradient(106.79deg, rgba(65, 48, 188, 1) -13.72%, rgba(106, 176, 250, 1) 108.14%);
  padding: 30% 45% 30% 45%;
  color: white;
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.RightSide .Header .Right  .Publish button:hover{
  background: linear-gradient(106.79deg, rgb(59, 183, 71) -13.72%, rgb(15, 105, 31) 108.14%);
  
} 

/* Bottom*/
.Main{

  display: grid;
  grid-template-columns: 1fr 4fr 1fr; 
  
}  

.Main .Library{ 
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: grid; 
  grid-template-rows: 10% 7% 7% 55% 20%;
} 
.Main .Library .Head { 
  margin: 3%;
  background: rgba(238, 239, 243, 1);
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  padding: 1.5%;
 
} 
.Main .Library .Head .Internal{ 
  background: rgba(238, 239, 243, 1);
 align-content: center; 
 padding-left: 30% ; 
 color: rgba(65, 48, 188, 1);

} 
.Main .Library .Head .External{ 
  background: linear-gradient(106.79deg, rgba(65, 48, 188, 1) -13.72%, rgba(106, 176, 250, 1) 108.14%);
  color: rgba(238, 239, 243, 1);
  align-content: center; 
  padding-left: 30% ; 

}  


.Main .Library .Search{ 
  
  margin-top: 6%; 
   align-content: center; 
  padding-left: 8% ; 
  padding-right: 8%; 
 

} 
.Main .Library .Search input{
  width: 100%; 
  height: 100%;
} 
.Main .Library .Choix{ 
  margin-top: 10%; 
  font-size: 80%;
  color: gray;
  margin-left: 5%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
}  
.Main .Library .Choix div{
  border-radius: 10%; 
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(233, 234, 236) 0px 0px 0px 1px inset;
  padding: 3%; 
  margin-right: 5%; 
  text-align: center; 
  width: 80%; 
  transition: border 0.1s;
} 
.Main .Library .Choix div:hover{ 
  border-color: gray;
  border-style: solid;
border-width: 1px;
} 

.Main .Library .Packaging{ 
  margin-top: 10%; 
 margin-left: 15%;
  display: grid; 
  grid-template-columns: 1fr 1fr;
} 

.Main .Library .Packaging img{
  margin-bottom: 12%;
}   
.Main .Library .Packaging img:hover{
  border-color: gray; 
  border-width: 1px; 
  border-style: solid;
}
.Main .Library .Other-lists{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;  
 margin-top: 10%;
 margin-left: 5%;

} 
.Main .Library .Other-lists div p  {   
  font-family: Arial;
font-weight: 500; 
font-size: 90%;
  display: inline;
  margin-right: 70%;
}
.Scene{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; 

  background-color:rgba(250, 250, 251, 1);
} 
.Palette{ 
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; 
  display: grid; 
  grid-template-rows: 2fr 1.5fr 3fr 3fr 6fr 6fr 2fr ; 
  padding-left: 5%; 
  padding-right: 5%; 
 
  overflow-y: auto; 
  overflow-x: hidden;
  max-height: 630px; 
  scrollbar-width: thin;
 
}   
.Palette .Size{
  
} 

.Palette .Size p{
  font-weight: 500; 
  margin-bottom: 5%;
} 
.Palette .Size input{
  width: 40%; 
  background-color:rgba(250, 250, 251, 1)  ; 
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none; 
  margin-bottom: 2%;
  margin-right: 2%; 
 } 
 .Palette .Color{
 
 } 
 .Palette .Color p{
  font-weight: 500; 
  margin-bottom: 5%;
 }  
 .Palette .Color div{
  background-color:rgba(250, 250, 251, 1)  ; 
 
  padding: 1.5%; 
  margin-right: 5%;
 }
 .Palette .Color input{
  width: 15%;
 }
 .Palette .Texture{
 
 }
.Palette .Texture p{ 
  font-weight: 500; 
  margin-bottom: 5%;

} 
.Palette .Texture img{
  width: 30%;  
  margin-right: 1%;
  
} 

.Palette .Texture img:hover{ 
  border-color: gray; 
  border-width: 1px; 
  border-style: solid;

} 
.Palette .Material{
  
} 
.Palette .Material p{ 
  font-weight: 500; 
  margin-bottom: 5%;
} 

.Palette .Material img{
  width: 40%; 
  margin-right: 2%;
} 

.Palette .Material img:hover{ 
  border-color: gray; 
  border-width: 1px; 
  border-style: solid;

}   

.Palette .Quantity p{ 
  font-weight: 500; 
  margin-bottom: 5%;

} 
.Palette .Quantity .List-price{

} 
.Palette .Quantity .List-price div{
  background-color: rgba(250, 250, 251, 1); 
  margin-bottom: 5%; 
  margin-right: 2%;
width: 40%;  
display: inline-block;


}  
.Palette .Quantity .List-price div .Number{
  color: rgba(65, 48, 188, 1) ;
}
.Palette .Quantity  input{ 
  width: 100%; 
  color: gray;
} 

.Palette .Preview p{
  font-weight: 500; 
  margin-bottom: 5%;
} 
.Palette .Preview div{
  background-color: rgba(250, 250, 251, 1); 
  height: 40%;
} 

.Palette .Export{
  margin-bottom: 30%;
}
.Palette .Export p{
  font-weight: 500; 
  margin-bottom: 5%;
}

.Palette .Export button{
  background: linear-gradient(106.79deg, rgba(65, 48, 188, 1) -13.72%, rgba(106, 176, 250, 1) 108.14%);
  color: rgba(250, 250, 251, 1); 
  width: 100%; 
  height: 40%; 
  border: none; 
  margin-top: 10% ;
}
.Palette .Export button:hover{
  background: linear-gradient(106.79deg, rgb(59, 183, 71) -13.72%, rgb(15, 105, 31) 108.14%);
}
  



.Scene {
width: 100%; 
height: 100%; 
display: inline-block; 
background-color:rgba(238, 239, 243, 1); 

}

.Scene .TopSmallPalette{
  background-color: white; 
  padding: 0.5%; 
  position: relative;  
  margin-top: 2%; 
  margin-left: 45%;
  width: 13%; 
  border-radius: 5%; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
} 

.Scene .BottomSmallPalette{
  background-color: white; 
  padding: 0.5%; 
  position: absolute;  
  bottom: 0;
  margin-left: 18%;
  width: 22%; 
  border-radius: 1%; 
  margin-bottom: 5%; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
} 

.Scene.RealScene{ 
  width: 300px;
  height: 300px; 
  border-width: 1px;
  border-color: blue;
  border-style: solid; 
  background-color: antiquewhite;

  
}
.Scene .RightSmallPalette{
 
}